In [1]:
import datetime

import numpy as np
import pandas as pd

dti = pd.to_datetime(['1/1/2018', np.datetime64('2018-01-01'),  datetime.datetime(2018, 1, 1)])
dti

DatetimeIndex(['2018-01-01', '2018-01-01', '2018-01-01'], dtype='datetime64[ns]', freq=None)

In [2]:
start = datetime.datetime(2011, 1, 1)
end = datetime.date(2011,1,10)
date_index =pd.date_range(start, periods=20,freq="W")
data = pd.DataFrame({"values":np.arange(0,20)},index=date_index)

In [8]:
data.index.get_level_values(0)

DatetimeIndex(['2011-01-02', '2011-01-09', '2011-01-16', '2011-01-23',
               '2011-01-30', '2011-02-06', '2011-02-13', '2011-02-20',
               '2011-02-27', '2011-03-06', '2011-03-13', '2011-03-20',
               '2011-03-27', '2011-04-03', '2011-04-10', '2011-04-17',
               '2011-04-24', '2011-05-01', '2011-05-08', '2011-05-15'],
              dtype='datetime64[ns]', freq='W-SUN')

In [3]:
data['2011-1']

            values
2011-01-02       0
2011-01-09       1
2011-01-16       2
2011-01-23       3
2011-01-30       4

In [4]:
data['2011-1':'2011-2']

            values
2011-01-02       0
2011-01-09       1
2011-01-16       2
2011-01-23       3
2011-01-30       4
2011-02-06       5
2011-02-13       6
2011-02-20       7
2011-02-27       8

In [5]:
short_data = data.head(5)
short_data

            values
2011-01-02       0
2011-01-09       1
2011-01-16       2
2011-01-23       3
2011-01-30       4

In [6]:
short_data.shift(2)

            values
2011-01-02     NaN
2011-01-09     NaN
2011-01-16     0.0
2011-01-23     1.0
2011-01-30     2.0

In [7]:
window_data = data.copy()
r = window_data.rolling(window=1)
r.mean()

            values
2011-01-02     0.0
2011-01-09     1.0
2011-01-16     2.0
2011-01-23     3.0
2011-01-30     4.0
2011-02-06     5.0
2011-02-13     6.0
2011-02-20     7.0
2011-02-27     8.0
2011-03-06     9.0
2011-03-13    10.0
2011-03-20    11.0
2011-03-27    12.0
2011-04-03    13.0
2011-04-10    14.0
2011-04-17    15.0
2011-04-24    16.0
2011-05-01    17.0
2011-05-08    18.0
2011-05-15    19.0